
<div class="container-fluid">
    <nav class="navbar bg-light shadow p-3 mb-5 bg-body rounded">
        <div class="container-fluid">
            <a class="navbar-brand">Categories</a>
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiMEvknYLtAuDe9Kf-C1ilopAwszPA6R3QEDIwscwFUQ&s=10" alt="" srcset=""style="width: 40px; height: 40px; border-radius: 50%;"/>
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
        </div>
    </nav>
</div>