<div class="main container-fluid bg-light shodow rounded" style="height: 100vh">
  <div class="row">
    <div class="col-lg-4">
      <div class="image d-none d-lg-block">
        <img
          class="img-fluid"
          src="https://images.unsplash.com/photo-1626808642875-0aa545482dfb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-8">
      <div class="from-box" style="margin-left: 15rem">
        <h2>Sign UP</h2>
        <p>let's get you all st up so you can access your personal account</p>
        <form [formGroup]="users" (ngSubmit)="onSubmit()" class="row g-3">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label" name="firstName"
              >First Name
            </label>
            <input
              type="text"
              class="form-control"
              id="inputEmail4"
              placeholder="First Name"
              formControlName="firstName"
            />
            @if (
              users.get("firstName")?.invalid && users.get("firstName")?.touched
            ) {
              <span class="text-danger">First Name is required</span>
            }
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="inputPassword4"
              formControlName="lastName"
              placeholder="Last Name"
            />
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail4"
              placeholder="xzy@gmail.com"
              formControlName="email"
            />
            @if (
              users.get("email")?.errors?.["required"] &&
              users.get("email")?.touched
            ) {
              <span class="text-danger">Email is required</span>
            }

            @if (
              users.get("email")?.errors?.["email"] &&
              users.get("email")?.touched
            ) {
              <span class="text-danger">Enter a valid email</span>
            }
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label" name="phone"
              >Phone Number</label
            >
            <input
              type="number"
              class="form-control"
              id="inputPassword4"
              placeholder="Phone number"
              formControlName="phoneNo"
            />
            @if (
              users.get("phoneNo")?.errors?.["required"] &&
              users.get("phoneNo")?.touched
            ) {
              <span class="text-danger">Phone Number is required</span>
            }

            @if (
              users.get("phoneNo")?.errors?.["pattern"] &&
              users.get("phoneNo")?.touched
            ) {
              <span class="text-danger"
                >Enter a valid 10-digit phone number</span
              >
            }
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputAddress" formControlName="password" />
          </div>

          @if (
            users.get("password")?.errors?.["required"] &&
            users.get("password")?.touched
          ) {
            <span class="text-danger">Password is required</span>
          }

          @if (
            users.get("password")?.errors?.["minlength"] &&
            users.get("password")?.touched
          ) {
            <span class="text-danger"
              >Password must be at least 6 characters</span
            >
          }

          <div class="col-12">
            <label for="inputAddress2" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="inputAddress2"
              formControlName="confirmPassword"
            />
          </div>
          @if (
            users.get("confirmPassword")?.invalid &&
            users.get("confirmPassword")?.touched
          ) {
            <span class="text-danger">Confirm Password is required</span>
          }

          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="gridCheck"
                formControlName="isChecked"
              />
              <label class="form-check-label" for="gridCheck">
                I agree to all terms & Privacy Policies
              </label>
              @if (
                users.get("isChecked")?.invalid &&
                users.get("isChecked")?.touched
              ) {
                <span class="text-danger">
                  Please accept Terms & Conditions
                </span>
              }
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-dark w-100">
              Create Account
            </button>
          </div>
          <p class="text-center">
            Already have account?<a routerLink="/login" style="color: black">
              Login</a
            >
          </p>
        </form>
        <hr />
        
        <div class="social">
          <a href="#"
            ><i
              class="fa-brands fa-facebook"
              style="color: rgb(12, 130, 153)"
            ></i
          ></a>
          <a href="#"
            ><i class="fa-brands fa-google" style="color: black"></i
          ></a>
          <a href="#"
            ><i class="fa-brands fa-apple" style="color: black"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
