.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image img{
    margin-left: 8rem;
    border-radius: 15px;
    height: 40rem;
    width: 50rem;
}
 form{

    margin-right: 5rem;

}
.text{
    background-color: white;
    position: absolute;
    left: 63rem;
    bottom: 5rem;
}
.social{
    
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    font-size: 30px;
}
.social a{
    text-align: center;
    width: 200px;
    border: 2px solid rgb(119, 216, 255);
}